{% extends "base.html" %}
{% block title %}Le blog des crêpes bretonnes - Todito{% endblock %}
{% block content %}
<h1>Todito</h1>
<ul>
  <li><a href="/">La racine</a></li>
  <li><a href="/admin/">L'interface d'administration</a></li>
  <li>&nbsp;</li>
  <li><a href="/blog/">Le blog</a> (inventaire des articles)</li>
  <li><a href="/blog/voir_contacts">Inventaire des contacts</a> (blog/voir_contacts)</li>
  <li><a href="/contact/">Le formulaire de contact</a> (contact tout court)</li>
  <li><a href="/blog/contact">Le formulaire de contact</a> (blog/contact)</li>
  <li><a href="/blog/article_contact/">blog/article_contact</a></li>
  <li>&nbsp;</li>
  <li><a href="/mini_url/">Le raccourcisseur d'URL</a></li>
  <li>&nbsp;</li>
  <li><a href="/blog/date">La date</a></li>
  <li><a href="/blog/mapage">Ma page</a></li>
  <li><a href="/blog/addition/355/113">355 + 113</a></li>
  <li><a href="/bloblo/1">Addition de 1 avec lui-même... et bloblo</a></li>
  <li><a href="/blog/proust">Proust</a> (ajout d'un article ecrit par views.py)</li>
  <li>&nbsp;</li>
  <li><a href="/todito/">Todito</a> (en fait, on y est)</li>
</ul>
{% endblock %}
